h1 {
  font-size: 20pt;
}

h3 {
  margin: 0;
}

.body-container {
  font-family: 'PT Sans', Verdana, sans-serif;
  margin: 1rem 10rem;
  -webkit-font-smoothing: antialiased;
  font-size: 10pt;
  line-height: 1.5rem;
  color: #333;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  line-height: 1.5;
}

code {
  font-family: Menlo, Consolas, monospace;
}

.flash {
  width: 600px;
  justify-content: center;
  margin: 0 100px;
  -webkit-transition: opacity 0.2s;
  -webkit-opacity: 0;
  -moz-transition: opacity 0.2s;
  position: fixed;
  z-index: 2;
  font-weight: bold;
  -ms-transition: opacity 0.2s;
  font-size: 16pt;
  display: flex;
  pointer-events: none;
  -ms-opacity: 0;
  transition: opacity 0.2s;
  color: steelblue;
  opacity: 0;
  -moz-opacity: 0;
}

.flash--on {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
}

.flash__text {
  border-radius: 2rem;
  border: 1px solid #a3c2db;
  padding: 0.3rem 2rem;
  background-color: white;
}

.modal {
  background: #f5f5f5;
  position: fixed;
  width: 600px;
  margin: 0 100px;
  z-index: 1;
  padding: 1rem;
  border: 1px solid #d9d9d9;
}

.modal__button {
  margin-top: 0.5rem;
  float: right;
  display: inline-block;
}

.block {
  position: relative;
  display: block;
  margin-bottom: 1rem;
  z-index: 0;
  border: solid;
  border-width: 0 0 0 1px;
  border-color: #d9d9d9;
  transition: border-color 0.2s;
}

.block .CodeMirror {
  background-color: #f5f5f5;
}

.block--active {
  border-color: #999999;
}

.block--active .CodeMirror {
  background-color: #f5f5f5;
}

.results {
  margin-top: -1px;
  font-size: 10pt;
  padding: 0.3rem 0.5rem;
}

.result__atom {
  color: deeppink;
}

.result__boolean {
  color: blue;
}

.result__collection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.result__error {
  color: red;
}

.result__function {
  color: deeppink;
}

.result__keyword {
  color: #3a3;
}

.result__loading {
  font-family: 'PT Sans';
  color: #999999;
}

.result__markdown {
  font-family: 'PT Sans';
  font-size: 14pt;
}

.result__namespace {
  color: deeppink;
}

.result__nil {
  color: #3a3;
}

.result__number {
  color: #3a3;
}

.result__object {
  color: deeppink;
}

.result__string {
  color: #a22;
}

.result__var {
  color: deeppink;
}

.CodeMirror {
  height: auto;
  line-height: 1.5;
  font-family: Menlo, Consolas, monospace;
}

.cm-s-neat .CodeMirror-matchingbracket {
  background-color: powderblue;
  outline: none;
}