h1 {
  font-size: 20pt;
}

h3 {
  margin: 0;
}

.body-container {
  font-family: 'PT Sans', Verdana, sans-serif;
  max-width: 800px;
  margin: 1rem auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #333;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  line-height: 1.5;
}

button {
  padding: 0.5rem 0.8rem;
  font-size: 12pt;
  background: blue;
  color: white;
  border: none;
  border-radius: 0.3rem;
}

.flash {
  width: 600px;
  justify-content: center;
  margin: 0 100px;
  -webkit-transition: opacity 0.2s;
  -webkit-opacity: 0;
  -moz-transition: opacity 0.2s;
  position: fixed;
  z-index: 2;
  font-weight: bold;
  -ms-transition: opacity 0.2s;
  font-size: 16pt;
  display: flex;
  pointer-events: none;
  -ms-opacity: 0;
  transition: opacity 0.2s;
  color: steelblue;
  opacity: 0;
  -moz-opacity: 0;
}

.flash--on {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
}

.flash__text {
  border-radius: 2rem;
  border: 1px solid #a3c2db;
  padding: 0.3rem 2rem;
  background-color: white;
}

.modal {
  background: lightgray;
  position: fixed;
  width: 600px;
  margin: 0 100px;
  z-index: 1;
  padding: 1rem;
  border: 1px solid gray;
}

.modal__button {
  margin-top: 0.5rem;
  float: right;
  display: inline-block;
}

.block {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
  z-index: 0;
  border: solid;
  border-width: 0 0 0 1px;
  border-color: #cccccc;
  transition: border-color 0.2s;
}

.block:before {
  width: 1.7rem;
  top: 0;
  font-family: 'PT Mono';
  text-align: right;
  position: absolute;
  content: attr(data-abbr);
  font-size: 8pt;
  color: #bfbfbf;
  left: -2rem;
}

.block .CodeMirror {
  background-color: #f5f5f5;
}

.block--active {
  border-color: #808080;
}

.block--active .CodeMirror {
  background-color: #f5f5f5;
}

.block--processing:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #808080;
  left: -2px;
  width: 2px;
}

.results {
  margin-top: -1px;
  font-family: monospace;
  font-size: 14.625px;
}

.results__markdown {
  font-family: 'PT Sans';
}

.results__output {
  border-bottom: 1px solid lightgray;
  padding: 0.3rem 0.5rem;
  position: relative;
  white-space: pre;
}

.results__output:before {
  width: 8px;
  top: 0;
  height: 8px;
  border-bottom-right-radius: 100%;
  position: absolute;
  content: '';
  background-color: #e8e8e8;
  display: block;
  left: 0;
}

.results__output:after {
  width: 10px;
  border-width: 0 1px 1px 0;
  top: 0;
  height: 10px;
  border: 1px solid #e8e8e8;
  border-bottom-right-radius: 100%;
  position: absolute;
  content: '';
  display: block;
  left: 0;
}

.results__error {
  font-size: 10pt;
  line-height: 1.5;
}

.results__values {
  padding: 0.3rem 0.5rem;
}

.results__error {
  padding: 0.3rem 0.5rem;
}

.results__var {
  color: deeppink;
}

.results__namespace {
  color: dodgerblue;
}

.results__function {
  color: dodgerblue;
}

.results__nil {
  color: #3a3;
}

.results__number {
  color: #3a3;
}

.results__string {
  color: #a22;
}

.results__keyword {
  color: #3a3;
}

.results__collection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.CodeMirror {
  height: auto;
  line-height: 1.5;
}

.cm-s-neat .CodeMirror-matchingbracket {
  background-color: powderblue;
  outline: none;
}