.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 1rem auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #333;
}

h1 {
  font-size: 20pt;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  line-height: 1.5;
}

.block {
  position: relative;
  margin-bottom: 0.5rem;
}
  .block.block--active .CodeMirror {
    border: 1px solid hotpink;
  }

.CodeMirror {
  height: auto;
  line-height: 1.5;
  border: 1px solid lightgray;
}

.code-result {
  border: 1px solid lightgray;
  margin-top: -1px;
  font-size: 14.625px;
  font-family: monospace;
  padding: 0.3rem 0.5rem;
}
  .code-result__print {
  }
  .code-result__error {
    color: firebrick;
  }
  .code-result__var {
    color: deeppink;
  }
  .code-result__nil {
    color: #3a3;
  }
  .code-result__number {
    color: #3a3;
  }
  .code-result__string {
    color: #a22;
  }
  .code-result__keyword {
    color: #3a3;
  }
  .code-result__collection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

graph {
  margin: 1rem;
}

.cm-s-neat .CodeMirror-matchingbracket {
  background-color: powderblue;
  outline: none;
}
